.App {
  text-align: center;
}

body{
  background-image: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.default-drinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: whitesmoke;
}

.labels {
  display: flex;
  font-size: 46px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}



#search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}


#defaultTop {
padding-top: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
font-size: 30px;
font-weight: 900;
justify-content: center;
color: white;
}